<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ecs.android.sample.widget"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AndroidWidgetSample"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SampleWidgetProvider4_1" android:label="@string/app_widget_4_1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ACTIVITY"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ALARM"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_WIDGET"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_4_1" />
        </receiver> 
        
        <receiver android:name=".SampleWidgetProvider2_2" android:label="@string/app_widget_2_2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION.WIDGET.UPDATE.FROM.ACTIVITY"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ALARM"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_WIDGET"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_2_2" />
        </receiver>        
        
    </application>


</manifest> 